body {
    background-image: url(https://i.imgur.com/d4I0hiD.png);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1 {
    font-size: 100px;
}
a {
    font-size: xx-large;
    color: white;
}